.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.oops {
  display: inline-block;
  background: #00AFF9 no-repeat;
  height: 100vh;
  width: 100vw;
  margin: 0;
  color: white;
}

.whoops {
  margin: .8em 3rem;
  font: 4em ;
}
.wrong {
  display: inline-block;
  margin: .2em 3rem;
  font: 2em ;
}
